* {
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ECF0F1;
    color: #2D3436;
}

header {
    padding: 1rem;
    background-color: #F1C40F;
    box-shadow: 2px 2px 4px black;
}

ul {
    display: flex;
    justify-content:space-evenly;
}

li {
    list-style: none;
}

a {
    padding: .5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #2D3436;
    border-radius: 20px;
    transition: .8s;
}

a:hover {
    background-color:#E74C3C;
    color: #ECF0F1;
    border-radius: 20px;
}

main {
    margin-top: 32px;
}

h1 {    
    font-family: "Lilita One", sans-serif;
    font-size: 8rem;
    color: #C0392B;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

input {
   margin-left: 330px;
   margin-bottom: 60px;
   margin-top: 30px;
    padding: 10px;
    width: 50%;
    font-size: 24px;
    background-color: #F1C40F;
    border: none;
    border-radius: 20px;
}

input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

input::placeholder {
    text-align: center;
    color: #2D3436;
    opacity: .8;
}

#minifigures_list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    text-align: center;
}

.minifigure {    
    background-color: #F1C40F;
    width: 250px;
    height: auto;
    margin: 15px;
    padding: 20px;
}

.minifigure img {
    width: 200px;
    height: 200px;
}

.minifigure p {
    margin-bottom: 10px;
}

.minifigure .situacao {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: #E74C3C;
    color: #ECF0F1;
}

.minifigure .situacao-comprado {
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    background-color: #F39C12;
    color: #ECF0F1;
}

#colecao_list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    text-align: center;
}

.colecao {    
    background-color: #F1C40F;
    width: 250px;
    height: auto;
    margin: 15px;
    padding: 20px;
}

.colecao img {
    width: 200px;
    height: 200px;
}

#criacao {
    display:flex;
    margin: 60px;
    gap: 200px;
}

#criacao h2 {
    margin-bottom: 15px;
    text-align: center;
}

#criacao input {    
    margin: 10px 10px;
    padding: 5px;
    border:none;
    width: 90%;
    background-color: #ECF0F1;
    font-size: 16px;
}

#criacao  ::placeholder{
    font-size: 16px;
    opacity: .8;
}

#criacao button {
    padding: 15px;
    font-size: 16px;
    background-color: #F39C12;
    color: #2D3436;
    border: none;
    border-radius: 20px;
    transition: .8s;
    
}

#criacao button:hover {
    background-color: #E74C3C;
    color: #ECF0F1;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.nova_minifigure {
    background-color: #F1C40F;
    width: 40%;
    padding: 15px;
    border-radius: 20px;
}

.nova_minifigure select {
    display: block;
    margin: 10px;
    border: none;
    padding: 5px;
    background-color: #ECF0F1;
    color: #2D3436;
    font-size: 16px;
}

.nova_colecao {
    background-color: #F1C40F;
    width: 40%;
    padding: 15px;
    border-radius: 20px;
}

footer {
    text-align: center;
    margin-top: 90px;        
}
