* {
    padding: 0;
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ECF0F1;
    color: #2D3436;
}

header {
    padding: 1rem;
    background-color: #F1C40F;
    box-shadow: 2px 2px 4px black;
}

ul {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

li {
    list-style: none;
}

a {
    padding: .5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: #2D3436;
    border-radius: 10px;
    transition: 1s;
}

a:hover {
    background-color:#E74C3C;
    color: #ECF0F1;
    border-radius: 10px;
}

main {
    margin-top: 32px;
    text-align: center;
}

h1 {    
    font-family: "Lilita One", sans-serif;
    font-size: 74px;
    color: #C0392B;
    text-shadow: 2px 2px 4px black;
}

input {
    margin: 15px;
    padding: 10px;
    width: 600px;
    font-size: 24px;
    background-color: #F1C40F;
    border: 2px solid #2D3436;
    border-radius: 20px;
}

input::placeholder {
    text-align: center;
    color: #2D3436;
}

#criacao {
    display: flex;    
    margin: 15px 25px;
    width: 100%;
}

.minifigure {
    background-color: #F1C40F;
    width: 40%;
    padding: 15px;
}

.minifigure h2 {
    margin-bottom: 15px;
}

.minifigure label {
    margin: 10px 5px;
}

.minifigure input {
    padding: 0;
    border-radius: 0px 20px 20px 0px;
    width: 450px
}



